/* MAIN MODIFICATION IN THE WHOLE WEB PAGE */
*, ::before, ::after {
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------- */
/* BASE CONFIGURATION FOR PC */

#logoName{
    background-color: aqua;
}

nav{
    background-color:darkgray;
}

nav div a{
    background-color:cyan;
    padding: 4px 60px;
    max-width: 30px;
}

/* ---------------------------------------------------------------------------------- */
/* BASE CONFIGURATION FOR MOBILE OR SMALL SCREENS */

/* ---------------------------------------------------------------------------------- */
/* Main modification in body content */
body{
    max-width: 1200px;
    width: 100%;                   /*WidthAdaptation*/
    margin: 0 auto;                /*CenterMarginScreen*/
    padding: 20px 10px;            /* GapScreenBorder */
    background-color:#F5F5F5;    /*WebColor*/
    color: #2D3748;              /*TextColor*/
    font-family: sans-serif;       /*TextFont*/
    line-height: 1.6;              /*LineSpace*/
    text-align: justify;
}

/* ---------------------------------------------------------------------------------- */
/* Modification in footer content */
#information{
    background-color: cadetblue;
    font-size: medium;
    font-family: sans-serif;
    line-height: 1.6;
    width: 100%;
}
/* ---------------------------------------------------------------------------------- */